[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
flask = "*"
flask-cors = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.9"
