<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API Restful dyno-api</title>
	<base href="/api/v1/">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>API Restful dyno-api</h1>
	
	<form id="login">
		<div class="form-control">
			<label for="email"></label>
			<input type="email" name="email" id="email" value="conexpertotesting@gmail.com">
		</div>
		<div class="form-control">
			<label for="password"></label>
			<input type="password" name="password" id="password" value="conexpertotesting2021">
		</div>
		<button type="submit">Send</button>
	</form>

	<h3>Token:</h3>
	<p id="token" style="line-break: anywhere;padding: 15px;"></p>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>
	
	<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>

	<script>
  		// Your web app's Firebase configuration
  		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
  		var firebaseConfig = {
			apiKey: "AIzaSyD4uyFMfi35s6nae3gjZfB_Wd1hMmNF7_w",
			authDomain: "conexperto-admin.firebaseapp.com",
			projectId: "conexperto-admin",
			storageBucket: "conexperto-admin.appspot.com",
			messagingSenderId: "40989086504",
			appId: "1:40989086504:web:e2035160b51bcc9089b61d",
			measurementId: "G-DG3JG3635L"
  		};
  		// Initialize Firebase
  		firebase.initializeApp(firebaseConfig);
  		firebase.analytics();

		
		const form = document.querySelector('#login');		
		const token = document.querySelector('#token');	
		form.addEventListener('submit', (e) => {
			e.preventDefault();

			const email = document.querySelector('input[type="email"]').value
			const password = document.querySelector('input[type="password"]').value 

			firebase.auth().signInWithEmailAndPassword(email, password)
				.then(user => firebase.auth().currentUser.getIdToken())
				.then(idToken => token.innerText = idToken)
				.catch(error => {
					console.error(error.code, error.message)
				})
		})
	</script>
	<script src="main.js"></script>
</body>
</html>
